<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Player App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1>Player App</h1>
                <hr>
                <p>Welcome {{userName}}</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Players Name</th>
                            <th scope="col">Players Country</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each players}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.country}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
             
                <p></p>
                <form action="/players" method="POST">
                    <label for="">
                        <input class="form-control" type="text" name="playerName" id="name">
                    </label>
                    <label for="">
                        <input class="form-control" type="text" name="countryName" id="">
                    </label>
                    <p></p>
                    <button class="btn btn-info" type="submit">Submit</button>
                </form>

            </div>
        </div>
    </div>

</body>

</html>