<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express-form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1>Tennis Player App</h1>
                <hr>
                <p>Welcome {{userName}}</p>
                <ol>
                    {{#each players}}
                    <li>{{this.name}} {{this.country}}</li>
                    {{/each}}
                </ol>
                <p></p>
                <form action="/players" method="POST">
                    <label for="">
                        <input class="form-control" type="text" name="playerName" id="name">
                    </label>
                    <label for="">
                        <input class="form-control" type="text" name="countryName" id="">
                    </label>
                    <p></p>
                    <button class="btn btn-info" type="submit">Submit</button>
                </form>

            </div>
        </div>
    </div>

</body>

</html>